.grid__container{
  height: 450px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.grid__item1{
   
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__item2{
   
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9457EB;
}
.grid__item3{
   
  font-size: 28px;
  grid-row: 1/3;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F07427;
}
.grid__item4{
   
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F07427;
}
.grid__item5{
   
  font-size: 28px;
  grid-column: 1/3;
  grid-row: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9457EB;
}
.grid__item6{
   
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__item7{
   
  font-size: 28px;
  grid-row: 3;
  grid-column: 3/5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50C878;
}
.grid__item8{
   
  font-size: 28px;
  grid-column:2/4;
  grid-row:4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #50C878;
}
.grid__item9{
   
  font-size: 28px;
  grid-column: 4;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}









